@model MaksGym.Models.ViewModels.StudentDetailsViewModel

@{
    ViewData["Title"] = "Деталі студента";
}

<div class="container mt-4">
    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Деталі студента</h3>
        </div>
        <div class="card-body">
            <h5><b>ПІБ:</b> @Model.NewStudent.User.FullName</h5>
            <p><b>Телефон:</b> @Model.NewStudent.User.PhoneNumber</p>
            <p><b>Фото:</b></p>
            <img src="@Model.NewStudent.PhotoPath" alt="Фото студента"
            class="rounded shadow-sm"
            style="width:150px; height:150px; object-fit:cover;" />

        </div>
        <form asp-action="AddSubscription">
            <input type="hidden" asp-for="NewStudent.StudentId" />
            <select asp-for="SubscriptionId" class="form-select m-3">
                <option value="">-- Виберіть абонемент --</option>
                @foreach (var sub in Model.Subscriptions)
                {
                    <option value="@sub.SubscriptionId">@sub.Name - @sub.Price днів</option>
                }
            </select>
            <span asp-validation-for="SubscriptionId" class="text-danger"></span>
            <input type="submit" asp- class="btn btn-success m-3" value="Додати абонемент" />
        </form>

        <table>
            <thead class="table-light">
                <tr>
                    <th>Назва абонемента</th>
                    <th>Дата початку</th>
                    <th>Дата закінчення</th>
                    <th>Статус</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in Model.Subscriptions)
                {
                    @foreach (var stb in sub.StudentsToSubscriptions)
                    {
                        if (sub.SubscriptionId == stb.SubscriptionId)
                        {
                            <tr>
                                <td>@sub.Name</td>
                                <td>@stb.StartDate.ToString("dd.MM.yyyy")</td>
                                <td>@stb.EndDate.ToString("dd.MM.yyyy")</td>
                                @if(stb.IsFrozen)
                                {
                                    <td><span class="badge bg-warning text-dark">Заморожений</span></td>
                                }
                                else if (stb.EndDate <= DateTime.Now)
                                {
                                    <td><span class="badge bg-danger">Неактивний</span></td>
                                }

                                else
                                {
                                    <td><span class="badge bg-success">Активний</span></td>
                                }
                                <td>
                                    @if (stb.IsFrozen)
                                    {
                                        <a class="btn-outline-light" asp-action="UnfrozeSubscription" asp-route-studentId="@stb.StudentId"
                                        asp-route-subscriptionId="@stb.SubscriptionId">
                                            Розморозити
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn-outline-light" asp-action="FrozeSubscription" asp-route-studentId="@stb.StudentId"
                                           asp-route-subscriptionId="@stb.SubscriptionId">
                                            Заморозити
                                        </a>
                                    }
                                   
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

